
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');


/* HTML */
html{
  scroll-behavior: smooth;
}
/* IMAGES */
@keyframes rotatee {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(90deg);
  }
  100%{
    transform: rotate(-30deg);
  }
}
.image_1{
  width: 100px;
  height: 100px;
  position: relative;
  left: 700px;
  top: 100px;
  animation: rotatee 1.5s ;

}
.image_2{
  width: 100px;
  height: 100px;
  position: relative;
  left: -600px;
  top: 100px;
  animation: rotatee 1.5s ;
  transform: scaleX(-1);
}

@media (max-width: 768px) {
  .image_1{
  width: 50px;
  height: 50px;
  position:absolute;
  left: 45.57vw;
  top: 250px;
  animation: rotatee 5s ;
  }
}
/* END OF IMAGES STYLING */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #eeecec;
  transition: background-image 1.5s ease, background-color 1.5s ease, color 0.5s ease;
  width: 100%;
  height: auto;
}
/* NAVBAR */
.navbar {
  position: fixed;
  width: 100%;
  padding: 1em;
}

.containerrrrr {
  display: flex;
  margin: auto;
  width: fit-content;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  background: #ffffff3b;
  box-shadow: 1px 1px 1px #00000007, 
    0 2px 2px #00000007, 
    0 4px 4px #00000007, 
    0 8px 8px #00000007, 
    0 16px 16px #00000007;
  border-radius: 50px;
}

.menu-items {
  display: flex;
  margin: auto;
  padding: 0.5rem;
  color: #eee;
  
  li {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    
    margin-right: 0.2rem;
  } 
  
  a {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 0.5rem 1.5rem; 
    border-radius: 50px;
    transition: all 0.4s ease-in-out;
  } 
  
  a:hover {
    background: #ff9900;
    color: black;
  }
}
/* END OF NAVBAR */

/* HOME PAGE */
.landing_container{
    background:radial-gradient(circle,
                #eeecec,#171717);
    color:white;
    width: 100%;
    height: 500px;
    border-radius: 2px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.landing_container button{
  margin-top: 40px;
  background-color: #eeecec;
  width: 100px;
  height: 50px;
  border-radius: 4px;
  border: 1px #333 solid;
  color: #333;
  font-weight: 600;
}
.landing_container button:hover{
  width: 110px;
  height: 55px;
  background-color: #171717;
  transition: all 0.3s ease;
}
/* END OF HOME PAGE */


/* EXPLANATION PAGE */
.explanation_container{
    height: 300px;
    width: 100%;
    background-color: #eeecec;
    color: #333;
    border-top: 5px solid #333;
    border-top-width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cv_pos{
  position: relative;
  display: inline-block;
  right: 655px;
  top: 100px;
  display: block;
  align-items: baseline;
  justify-content: baseline;
}
.explanation_container a{
    text-decoration: none;
    background-color: #333;
    width: 200px;
    height: 50px;
    color: #eeecec;
    border-radius: 5px;
    display: flex;
    align-items:baseline ;
    justify-content: baseline;
    
}
.explanation_container .lineee{
    width: 100px;
    height: 100px;
}
/* morrree explanations */
.previous_work{
  border-top: 5px solid #ff9900;
  border-top-width: 80%;
}
.skills_acquired{
  border-top: 5px solid #333;
  border-top-width: 80%;
}

/* PROOF OF SKILLS  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.skills {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #eeecec;
  color: #333;
}

.skill {
  width: 100%;
  margin: 10px 0;
}

.title {
  color: #333;
  font-weight: 700;
}

.progress-bar {
  background: #fff;
  border-radius: 3px;
  width: 100%;
  height: 15px;
  margin-top: 5px;
/*   overflow: hidden; */
}

/* .progress {
/*   width: 0; 
} */

#html .progress {
  max-width: 95%;
  height: 100%;
  background: #333;
  border-radius: 3px;
  position: relative;
  animation: 1s ease 0s 1 loadBars; 
}

#html .progress::after {
  content: "100%";
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  height: 15px;
  width: 30px;
  background: #fff;
  position: absolute;
  padding: 2px 3px;
  border-radius: 4px;
  right: -18px;
  top: -30px;
}

#html .progress::before {
  content: "";
  position: absolute;
  width: 0; 
  height: 0; 
  right: -5px;
  top: -12px;  
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
}

#css .progress {
  max-width: 94%;
  height: 100%;
  background: #333;
  position: relative;
  animation: 1s ease 0s 1 loadBars; 
}

#css .progress::after {
  content: "99%";
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  height: 15px;
  width: 30px;
  background: #fff;
  position: absolute;
  padding: 2px 3px;
  border-radius: 4px;
  right: -18px;
  top: -30px;
}

#css .progress::before {
  content: "";
  position: absolute;
  width: 0; 
  height: 0; 
  right: -5px;
  top: -12px;  
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
}

#js .progress {
  max-width: 94%;
  height: 100%;
  background: #333;
  position: relative;
  animation: 1s ease 0s 1 loadBars; 
}

#js .progress::after {
  content: "99%";
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  height: 15px;
  width: 30px;
  background: #fff;
  position: absolute;
  padding: 2px 3px;
  border-radius: 4px;
  right: -18px;
  top: -30px;
}

#jq .progress::before {
  content: "";
  position: absolute;
  width: 0; 
  height: 0; 
  right: -5px;
  top: -12px;  
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
}

#jq .progress {
  max-width: 90%;
  height: 100%;
  background: #333;
  position: relative;
  animation: 1s ease 0s 1 loadBars; 
}

#jq .progress::after {
  content: "95%";
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  height: 15px;
  width: 30px;
  background: #eeecec;
  position: absolute;
  padding: 2px 3px;
  border-radius: 4px;
  right: -18px;
  top: -30px;
}

#jq .progress::before {
  content: "";
  position: absolute;
  width: 0; 
  height: 0; 
  right: -5px;
  top: -12px;  
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
}

@keyframes loadBars{
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
  
}
/* END OF EXPLANATION */

/* My Sweats / Work skills */
.image-grid-wrapper {
  position: relative;
  overflow-y: hidden;
  --x-offset: -50px;
  --y-offset: -50px;
}

.image-grid-wrapper::before,
.image-grid-wrapper::after {
  content: "";
  background-color: #eeecec;;
  height: 100px;
  position: absolute;
  border-radius: 50%;
  /* background-color: red; */
}

.image-grid-wrapper::before {
  inset: var(--y-offset) var(--x-offset) 0;
}

.image-grid-wrapper::after {
  inset: 0 var(--x-offset) var(--y-offset);
  top: unset;
}

.image-grid {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
}

.image-grid img {
 height: 400px; 
}
/* End of My sweats/ Work skills */

/* TESTIMONIALS */
.main_testimonialsss{
  border-top: 5px solid #333;
  border-top-width: 80%;
}
.container_testimonials{
  background: #eeecec;
}
.testimonial{
  margin: 0 20px 40px;
}
.testimonial .testimonial-content{
  padding: 35px 25px 35px 50px;
  margin-bottom: 35px;
  background: #fff;
  position: relative;
}
.testimonial .testimonial-content:before{
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  border-top: 15px solid #718076;
  border-left: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
.testimonial .testimonial-content:after{
  content: "";
  position: absolute;
  bottom: -30px;
  right: 0;
  border-top: 15px solid #718076;
  border-right: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
.testimonial-content .testimonial-icon{
  width: 50px;
  height: 45px;
  background: #635353;
  text-align: center;
  font-size: 22px;
  color: #fff;
  line-height: 42px;
  position: absolute;
  top: 37px;
  left: -19px;
}
.testimonial-content .testimonial-icon:before{
  content: "";
  border-bottom: 16px solid #05A739;
  border-left: 18px solid transparent;
  position: absolute;
  top: -16px;
  left: 1px;
}
.testimonial .description{
  font-size: 15px;
  font-style: italic;
  color: #8a8a8a;
  line-height: 23px;
  margin: 0;
}
.testimonial .title{
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: #525252;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin: 0 0 5px 0;
}
.testimonial .post{
  display: block;
  font-size: 14px;
  color: #ff9900;
}
.owl-theme .owl-controls{
  margin-top: 20px;
}
.owl-theme .owl-controls .owl-page span{
  background: #ff9900;
  opacity: 1;
  transition: all 0.4s ease 0s;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
  background: #ff9900;
}
/* END OF TESTIMONIALS */

/* CONTACT INFORMATION */
.contact{
  border-top: 5px solid #333;
  border-top-width: 80%;
  border-bottom: 5px solid #333;
  border-bottom-width: 80%;
}

input,
textarea {
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  background-color: #333;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 820px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form {
  background-color: #FF9900;
  position: relative;
}

.circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #ff9900);
  position: absolute;
}

.circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

.contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #333;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 5px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 5px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.btn {
  padding: 0.6rem 1.3rem;
  background-color: #333;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #fff;
  text-decoration: none;
  line-height: 1;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
  width: 100%;
}

.btn:hover {
  background-color: transparent;
  color: #fff;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: #333;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-info .title {
  color: #ff9900;
}

.text {
  color: #fff;
  margin: 1.5rem 0 2rem 0;
}

.information {
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.information i {
  color: #ff9900;
}

.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
  color: #333;
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #eeecec, #333);
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}

.contact-info:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid #333;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}

.big-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #eeecec, #000000);
  bottom: 50%;
  right: 50%;
  transform: translate(-40%, 38%);
}

.big-circle:after {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: #333;
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}

.square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
}

@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }

  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .square {
    transform: translate(140%, 43%);
    height: 350px;
  }

  .big-circle {
    bottom: 75%;
    transform: scale(0.9) translate(-40%, 30%);
    right: 50%;
  }

  .text {
    margin: 1rem 0 1.5rem 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1.5rem;
  }

  .contact-info:before {
    display: none;
  }

  .square,
  .big-circle {
    display: none;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
    width: 100%;
  }

  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.15rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btn {
    padding: 0.45rem 1.2rem;
  }
}
.senderrrr{
    width: 100px;
    height: 50px;
    background: transparent;
    align-items: center;
    margin-right: 50px;
    border-radius: 10px;
    border: 1px solid #fff;
    transition: 1s;
}
.senderrrr:hover{
    background-color: #000000;
}
.senderrrr a{
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-weight: 500;
    font-size: 20px;
}
/* END OF CONTACT INFO */


/* RESPONSIVENESS */
/* Mobile responsive */

@media screen and (max-width: 768px) {
  body{
    width: 100%;
    height: auto;
    overflow-x: hidden
  }
  .cv_pos{
    position: relative;
    top: 200px;
    right: 150px;
    
  }
  
  .explanation_container{
    height: 600px;
    width: 100%;
  }
  .iconsssss #bar-open,
  .iconsssss #x-closed {
    display: block;
  }
  
  .menu-items {
    display: none;
  }
  
  .navbar {
    width: 100%;
    padding: 0;
  }
  
  .containerrrrr {
    float: left;
    /* margin-top: 20px;
    margin-right: 20px; */
    width: fit-content;
    padding: 0.8rem 1rem;
  }
  
  .navbar.openNav .menu-responsive-items {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    height: 100vh;
    width: 100vw;

    flex-direction: column;
    justify-content: center;
    text-align: center;

    background-color: transparent;
    color: #eee;

    li {
      list-style-type: none;
      text-decoration: none;
      font-size: 22px;
      margin-bottom: 0.2rem;
    }

    a {
      list-style-type: none;
      text-decoration: none;
      color: #eee;
      border-radius: 50px;
      padding: 0.5rem;
      
      transition: all 1s ease;
    }
    
    a:hover {
      color: #F2C9FB;
    }
  }

  .iconsssss #bar-open {
    margin: auto;
    cursor: pointer;
  }

  .navbar.openNav .iconsssss #x-closed {
    position: absolute;
    top: 20px;
    right: 5px;
    
    font-size: 45px;
    padding: 0.5rem 0.9rem;
    border-radius: 80px;
    background: #ffffff3b;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.027), 
      0 2px 2px rgba(0, 0, 0, 0.027), 
      0 4px 4px rgba(0, 0, 0, 0.027), 
      0 8px 8px rgba(0, 0, 0, 0.027), 
      0 16px 16px rgba(0, 0, 0, 0.027);
    cursor: pointer;
    
    transition: all 0.8s ease;
  }
}
@media (max-width: 480px) {
  .toggle-container {
    position: absolute;
    top: 20px;
    left: 20px; /* Keep it on the left */
  }
  .toggle-container {
    left: 10px; /* Adjust for smaller screens */
  }
}
/* END OF RESPONSIVENESS */

/* Footer */
#copyright{
  color: #eee;
  background-color: #333;
  border: 1px solid #333;
}
